@import url(nreset.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* ** {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
.container__grid {
  display: flex;
  /* options */
  flex-direction: column;
  width: 30em;
  height: 60em;
  /* options */
}
.container__grid__one {
  display: grid;
  /* options */
  grid-template: repeat(16, 1fr) / repeat(16, 1fr);
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 0%;
  background-color: black;
  /* options */
  overflow: hidden;
  width: 30em;
  height: 30em;
}
.container__grid__two {
  display: grid;
  /* options */
  grid-template: repeat(16, 1fr) / repeat(16, 1fr);
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-top-right-radius: 0%;
  background-color: black;
  /* options */
  overflow: hidden;
  width: 30em;
  height: 30em;
}
.container__grid__divs {
  /* options */
  background-color: white;
  border-radius: 50%;
  /* options */
}
